<p>work !!!!!!!!!!!</p>
    <div class="app-wrapper">
	    
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">Mise à jour status livraison</h1>
				    </div>
				    <div class="col-auto">
					     <div class="page-utilities">
						    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							  
							    
						    </div><!--//row-->
					    </div><!--//table-utilities-->
				    </div><!--//col-auto-->
			    </div><!--//row-->
			   
			    
                <div class="col-auto">
                    <label >Commande ID :  </label> <label > {{livraison._id}}</label>    <br><br>
                    <label >Quantité :  </label> <label > {{livraison.quantite}}</label>    <br><br>
                    <label >Date de Création :  </label> <label > {{livraison.dateCre}}</label>    <br><br>

                    <select class="form-select w-auto"   (change)="onSelected(teams.value)" #teams required>
                          <option selected > </option>
                          <option >En cours de Preparation</option>
                          <option >Prëte à livrer</option>
                          <option >Clos</option>
                          
                    </select>
<br><br>
                    <button class="btn btn-sm btn-warning" (click)="updateLivraison()" routerLink="../../commande">modifier</button>
                </div>